.App {
  height: 100vh;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

.main-nav-bar {
  position: fixed;
  min-width: 235px;
  background-color: white;
  height: 100vh;
  margin-right: 10px;
  box-shadow: 5px 10px 5px #b9b9b9;
}

.main-nav-bar .container {
  margin-left: 20px;
}

.main-nav-bar .nav-bar-link {
  margin: 5px 0;
  font-size: 15px;
}

.main-nav-bar .contact-info {
  margin: 40px 0;
  font-size: 12px;
}

.main-nav-bar .contact-info p {
  margin: 5px 0;
}

.main-content {
  height: 100vh;
  margin-left: 245px;
}

.slider-display-section {
  padding: 30px;
}

.slider-display-section .slider-for .slick-slide .item {
  display: flex !important;
  justify-content: center !important;
}

.slider-display-section .slider-for .slick-arrow {
  background-color: lightgrey;
}

.slider-display-section .slider-for .slick-slide img {
  height: 350px;
}

.storyboard-page .slider-nav-container {
  display: flex;
  justify-content: center;
}

.storyboard-page .slider-nav {
  max-width: 700px;
  margin-top: 30px;
}

.storyboard-page .slider-nav .slick-arrow {
  background-color: lightgrey;
}

.storyboard-page .slider-nav .slick-track {
  height: 100px;
}

.storyboard-page .slider-nav .slick-track img {
  height: 100px;
  margin: 0 5px;
}