.App {
  height: 100vh;
  background-color: white;
}

.main-nav-bar {
  float: left;
  height: 100%;
  width: 235px;
  background-color: white;
}

.main-nav-bar .container {
  margin-left: 20px;
}

.home-page {
  margin-left: 235px;
  height: 100%;
  background-color: white;
}

