body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  height: 100vh;
  background-color: white;
  font-family: 'Muli', sans-serif;
}

#spinner-icon {
  position: absolute;
  z-index: 999;
  width: 40px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 55px;
  right: 0;
}

.main-nav-bar {
  position: fixed;
  min-width: 235px;
  background-color: white;
  height: 100vh;
  margin-right: 10px;
  
  .container {
    margin-left: 20px;
  }
  
  .nav-bar-link {
    margin: 5px 0;
    font-size: 15px;
  }
  
  .contact-info {
    margin: 40px 0;
    font-size: 12px;
    
    p {
      margin: 5px 0;
    }
  }
}

.main-content {
  height: 100vh;
  margin-left: 245px;
  position: relative;
  max-width: 1000px;
}

.home-page {
  display: flex;
  
  .column-one, .column-two {
    display: inline-block;
    width: 50%;
    
    .flex-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 10px;
    }
  }
  
  .col-one-item, .col-two-item {
    img {
      width: 100%;
      padding-bottom: 20px;
    }
  } 
}

.storyboard-page, .life-drawings-page, .landscape-and-paintings-page {
  .slider-display-section {
    padding: 30px;
    
    .slider-for {
      .slick-slide {
        .item {
          display: flex !important;
          justify-content: center !important;
        }
        
        img {
          height: 430px;
        }
      }
    }
  }

  .slider-nav-container {
    display: flex;
    justify-content: center;
  }
  
  .slider-nav {
    max-width: 700px;
    
    .slick-track {
      height: 100px;
      
      img {
        height: 100px;
        margin: 0 5px;
      }
    }
  }
  
  hr {
    display: block;
    width: 25%;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }
}

.comics-page {
  .comic-reader {
    position: relative;
    min-height: 300px;
    text-align: center;
    padding: 20px 0 40px;
    
    h2 {
      text-align: left;
      margin-top: 0;
      padding-left: 30px;
      
      span {
        font-size: 14px;
        font-weight: normal;
        color: grey;
        padding-left: 10px;
      }
    }
    
    .comic-reader-nav {
      display: flex;
      flex-direction: column;
      position: absolute;
      right: 25px;
      top: 30px;
      
      .nav-button {
        background-color: #8a8888;
        border: none;
        color: white;
        font-weight: bold;
        height: 25px;
        width: 25px;
        margin: 3px 0;
        cursor: pointer;
        
        &:hover {
          background-color: #8e979a;
        }
        
        &.selected {
          background-color: #8dc0d4;  
        }
      }
    }
    
    .current-comic-page img {
      max-height: 800px;
      max-width: 700px;
      
      &.hidden {
        display: none;
      }
    }
  }
}

.graphics-and-animation-page {
  .animation-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    padding: 25px;
    
    .details-section {
      padding-bottom: 25px;
      
      .title {
        margin: 0;
      }
      
      .description {
        font-size: 14px;
        max-width: 350px;
      }
      
      .detail {
        font-size: 14px;
        
        .label {
          font-weight: bold;
          margin-right: 3px;
        }
      }
    }
    
    .video-section {
      .video-container {
        margin-bottom: 20px;
        
        iframe {
          min-width: 500px;
          min-height: 280px;
          background: lightgrey;
        }
      }
    }
    
    .frames-section {
      display: block;
      margin-top: 20px;
      
      .flex-container {
        display: flex;
        flex-wrap: wrap;
        
        .frame {
          padding: 0 5px;
          
          img {
            height: 130px;
            width: 200px;
          }
        }
      }
    }
  }
  
  .gallery-divider {
    margin-bottom: 40px;
  }
}

.slick-arrow {
  font-family: Raleway;
  font-weight: bold;
  color: #d0caca;
  top: 40%;
  position: absolute;
  z-index: 999;
  cursor: pointer;
  
  &.big-arrow {
    font-size: 48px;
    
    &.prev-arrow {
      left: -25px;
    }
  
    &.next-arrow {
      right: -25px;
    }
  }
  
  &.small-arrow {
    font-size: 26px;
    top: 35%;
    color: black;
    
    &.prev-arrow {
      left: -50px;
    }
  
    &.next-arrow {
      right: -50px;
    }
  }
}

.container-relative {
  position: relative;
}
